<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="mailSetting" type="EnterpriseRegistration.Mail.MailConfiguration, EnterpriseRegistration.Mail" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="EnterpriseRegistration" connectionString="Data Source=10.53.34.181\SQLEXPRESS;Initial Catalog=EnterpriseRegistration;Persist Security Info=True;User ID=EntRegOwner;Password=EntRegOwner" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<appSettings>
  <add key="attachmentStore" value="C:\Users\zengbanghua\Desktop\企业备案申请\"/>
  <add key="Sheet" value="Sheet3" />
  <add key="deleteMail" value="false" />
  <add key="ReplyFlag" value="false"/>
</appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <mailSetting popServer="172.7.1.2"
                 smtpServer="172.7.1.2"
                 popUsername="rjktest1@customs.gov.cn#mail.customs.gov.cn"
              popPassword="qwer*1234"
                 smtpUsername="rjktest2@customs.gov.cn"
                 smtpPassword="qwer*1234"
  >
  </mailSetting>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\debug.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="DebugConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.Patternlayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <logger name="ER.Logger">
      <level value="DEBUG" />
    </logger>
  </log4net>
</configuration>
