@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
    int count = ViewBag.CurrentId;
}
<div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>From</th>
                <th>Subject</th>
                <th>DateSent</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Message message in Model.Messages)
            {
                @ count++;
                <tr>
                    <td>@count</td>
                    <td>@message.FromAddress</td>
                    <td>@message.Subject</td>
                    <td>@message.DateSent</td>
                </tr>
            }
        </tbody>
    </table>
</div>