<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mailSetting" type="EnterpriseRegistration.Mail.MailConfiguration, EnterpriseRegistration.Mail" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <mailSetting popServer="172.7.1.2" 
               smtpServer="172.7.1.2" 
               popUsername="gzkjqy@customs.gov.cn#mail.customs.gov.cn"
            popPassword="qwer*1234"
               smtpUsername="gzkjqy@customs.gov.cn"
               smtpPassword="qwer*1234">
  </mailSetting>
</configuration>