<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="mailSetting" type="EnterpriseRegistration.Mail.MailConfiguration, EnterpriseRegistration.Mail" allowLocation="true" allowDefinition="Everywhere"/>
    <!-- Start of Customs AAA assembly config -->
    <section name="ssoClientSection" type="ChinaCustoms.Frameworks.Cupaa.Libraries.Passport.Configuration.SsoClientSection, Cupaa.Libraries.Passport, Version=1.0.0.0, Culture=neutral" />
    <section name="oguPermissionSettings" type="ChinaCustoms.Framework.DeluxeWorks.Library.Cupaa.OGUPermission.OguPermissionSettings,DeluxeWorks.Library.Cupaa.OGUPermission" />
    <section name="globalConfiguration" type="gz.Common.Core.UserConfig.GlobalConfiguration,gz.Common.Core" />
    <section name="appConfiguration" type="gz.Common.Core.UserConfig.AppConfiguration,gz.Common.Core" />
    <section name="hzCacheSettings" type="gz.Common.Core.Caching.CacheConfiguration,gz.Common.Core" />
    <sectionGroup name="hzOguPermissionSettings" type="gz.Common.OGUPermission.OguPermissionSettingGroup, gz.Common.OGUPermission">
      <section name="base" type="gz.Common.OGUPermission.OguPermissionSettings,gz.Common.OGUPermission" />
      <section name="cuppa" type="gz.Common.OGUPermission.Cupaa.CupaaOguPermissionSettings, gz.Common.OGUPermission" />
    </sectionGroup>
    <sectionGroup name="chinaCustoms.framework.deluxeWorks.data" type="ChinaCustoms.Framework.DeluxeWorks.Library.Data.Configuration.DbConfigurationSectionGroup, DeluxeWorks.Library.Data">
      <section name="connectionManager" type="ChinaCustoms.Framework.DeluxeWorks.Library.Data.Configuration.ConnectionManagerConfigurationSection, DeluxeWorks.Library.Data" />
    </sectionGroup>
    <!-- End of Customs AAA assembly Config (-｡-;) -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EnterpriseRegistration.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="EnterpriseRegistration.UserProfile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="EnterpriseRegistration" connectionString="Data Source=10.53.34.181\SQLEXPRESS;Initial Catalog=EnterpriseRegistration;Persist Security Info=True;User ID=EntRegOwner;Password=EntRegOwner" providerName="System.Data.SqlClient"/>-->
    <add name="EnterpriseRegistration" connectionString="Data Source=10.53.1.172;Initial Catalog=EnterpriseRegistration;Persist Security Info=True;User ID=u_EntRegOwner;Password=EntRegOwner" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!-- Start of Customs AAA config -->
  <appConfiguration appCode="ENT_REG" />
  <globalConfiguration customsRange="51" />
  <hzCacheSettings cacheExpirationMinutes="30">
    <cacheProviders>
      <add name="localCache" type="gz.Common.Core.Caching.WebCache, gz.Common.Core" />
    </cacheProviders>
  </hzCacheSettings>
  <ssoClientSection appID="ENT_REG" appSlidingTime="0" cookieName="ENT_REG" tokenName="token" idAuthenticationMode="hrcode" authenticationLevelCacheTime="300">
    <ssoPaths>
      <add name="authenticateUrl" uri="http://10.99.101.200/PassPort/SsoLogin.aspx" />
      <add name="logOffUrl" uri="http://10.99.101.200/PassPort/LogOff.aspx" logoffToDefaultUriString="~/Default.aspx" logoffAutoRedirect="true" />
      <add name="logOffCallBackUrl" uri="~/LogoffCallbackUrl.axd" />
    </ssoPaths>
    <!--<authenticationPaths     defaultAuthenticationMode="Anonymous" defaultAuthenticateExtions=".aspx;.ashx;.asmx">-->
    <authenticationPaths defaultAuthenticationMode="hrcodeauthentication" defaultAuthenticateExtions=".aspx;.ashx;.asmx">
    </authenticationPaths>
    <logOffCallBacks />
  </ssoClientSection>
  <oguPermissionSettings rootOUPath="海关总署\广州海关" ViewName="BASE_VIEW">
    <paths>
      <add name="oguServiceAddress" uri="http://10.53.1.162/CupaaDistributedService/OguReaderService.svc/ws" />
      <!--授权管理访问的Service地址，按实际情况修改-->
      <add name="appAdminServiceAddress" uri="http://10.53.1.162/CupaaDistributedService/AccreditReaderService.svc/ws" />
      <!--领导与秘书的Service地址，按实际情况修改-->
      <add name="leadersReaderAddress" uri="http://10.53.1.162/CupaaDistributedService/LeaderSecretaryReaderService.svc/ws" />
    </paths>
    <!--获取顶级部门映射-->
    <topOUMapping level="2">
    </topOUMapping>
    <typeFactories>
      <!--实现机构人员操作的工厂类-->
      <add name="oguFactory" type="ChinaCustoms.Framework.DeluxeWorks.Library.Cupaa.OGUPermission.OguAdminMechanism,DeluxeWorks.Library.Cupaa.OGUPermission" />
      <!--实现授权操作的工厂类-->
      <add name="permissionFactory" type="ChinaCustoms.Framework.DeluxeWorks.Library.Cupaa.OGUPermission.AppAdminMechanism, DeluxeWorks.Library.Cupaa.OGUPermission" />
    </typeFactories>
  </oguPermissionSettings>
  <hzOguPermissionSettings>
    <base rootOUPath="海关总署\广州海关">
      <cache enabled="true" slidingTime="600" />
      <topOUMapping level="3" />
      <providers>
        <!--实现机构人员操作的工厂类-->
        <add name="oguAdminProvider" type="gz.Common.OGUPermission.Cupaa.CupaaOguAdminMechanism, gz.Common.OGUPermission" />
        <!--实现授权操作的工厂类-->
        <add name="appAdminProvider" type="gz.Common.OGUPermission.Cupaa.CupaaAppAdminMechanism,gz.Common.OGUPermission" />
        <!--实现认证操作的工厂类-->
        <add name="authenticationAdminProvider" type="gz.Common.OGUPermission.Cupaa.CupaaAuthenticationAdminMechanism,gz.Common.OGUPermission" />
      </providers>
    </base>
    <cuppa viewCode="BASE_VIEW">
      <paths>
        <add name="oguServiceAddress" uri="http://10.53.1.162/CupaaDistributedService/OguReaderService.svc/ws" />
        <add name="appAdminServiceAddress" uri="http://10.53.1.162/CupaaDistributedService/AccreditReaderService.svc/ws" />
        <add name="leadersReaderAddress" uri="http://10.53.1.162/CupaaDistributedService/LeaderSecretaryReaderService.svc/ws" />
        <add name="authenticationServiceAddress" uri="http://10.53.1.162/CupaaDistributedService/AuthenticationReaderService.svc/ws" />
      </paths>
    </cuppa>
  </hzOguPermissionSettings>


  <!-- End of Customs AAA config-->
  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="attachmentStore" value="C:\企业备案申请附件\"/>
    <add key="deleteMail" value="true"/>
  </appSettings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- Start of Customs AAA -->
    <httpModules>
      <add name="CupaaPassPortModule" type="ChinaCustoms.Frameworks.Cupaa.Libraries.Passport.HttpModules.AuthenticationModule, Cupaa.Libraries.Passport, Version=1.0.0.0, Culture=neutral" />
    </httpModules>
    <!-- End of Customs AAA-->
    <httpRuntime/>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  
    <!-- Start of Customs AAA -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsBindingNoAuth" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="65535" maxArrayLength="2147483647 " maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint binding="wsHttpBinding" bindingConfiguration="wsBindingNoAuth" contract="AccreditReaderService.IAccreditReader" />
      <endpoint binding="wsHttpBinding" bindingConfiguration="wsBindingNoAuth" contract="OguReaderService.IOguReader" />
      <endpoint binding="wsHttpBinding" bindingConfiguration="wsBindingNoAuth" contract="LeaderSecretaryReaderService.ISecretariesLeadersReader">
      </endpoint>
      <endpoint name="IPassportEndpoint" address="http://10.53.1.162/CupaaDistributedService/AuthenticationReaderService.svc/ws" binding="wsHttpBinding" bindingConfiguration="wsBindingNoAuth" contract="ChinaCustoms.Frameworks.Cupaa.Libraries.Passport.Contracts.IAuthenticationReader" />
      <!--<endpoint name="IPassportEndpoint" address="http://10.99.101.200/CupaaCenterService/AuthenticationReaderService.svc/ws" binding="wsHttpBinding" bindingConfiguration="wsBindingNoAuth" contract="ChinaCustoms.Frameworks.Cupaa.Libraries.Passport.Contracts.IAuthenticationReader"/>-->
    </client>
  </system.serviceModel>
  <!-- End of Customs AAA -->
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <!-- Start of Customs AAA -->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CupaaPassPortModule" type="ChinaCustoms.Frameworks.Cupaa.Libraries.Passport.HttpModules.AuthenticationModule, Cupaa.Libraries.Passport, Version=1.0.0.0, Culture=neutral" />
    </modules>
    <!--End of Customs AAA -->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <mailSetting popServer="172.7.1.2"
               smtpServer="172.7.1.2"
               popUsername="rjktest1@customs.gov.cn#mail.customs.gov.cn"
            popPassword="qwer*1234"
               smtpUsername="rjktest2@customs.gov.cn"
               smtpPassword="qwer*1234"
  >
  </mailSetting>
  <applicationSettings>
    <EnterpriseRegistration.Web.Properties.Settings>
      <setting name="EnterpriseRegistration_Web_WebEntReference_WebEntAccess"
        serializeAs="String">
        <value>http://10.53.1.193/Webservice_BC/WebEntAccess.asmx</value>
      </setting>
    </EnterpriseRegistration.Web.Properties.Settings>
    <EnterpriseRegistration.UserProfile.Properties.Settings>
      <setting name="EnterpriseRegistration_UserProfile_WebReference_OguReaderService"
          serializeAs="String">
        <value>http://10.53.1.162/GZCheckService/OguReaderService.asmx</value>
      </setting>
      <setting name="EnterpriseRegistration_UserProfile_WebAccreditReference_AccreditReaderService"
          serializeAs="String">
        <value>http://10.53.1.162/GZCheckService/AccreditReaderService.asmx</value>
      </setting>
    </EnterpriseRegistration.UserProfile.Properties.Settings>
  </applicationSettings>
</configuration>